ul {
  list-style: none;
}
.thumb_lot ul li {
  width: 170px;
  height: 184px;
  padding: 0;
  margin: 0 0 30px 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  float: left;
}
.thumb_lot img {
  vertical-align: middle;
  max-width: 170px;
  max-height: 132px;
  float: none;
}
.thumb_lot a {
  display: block;
  text-align: center;
}
.thumb_lot strong {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: block;
}
.LotPath li {
  float: left;
}
#lot img {
  height: 450px;
  float: left;
}
#lot .price {
  margin-left: 610px;
  background-color: #2995fe;
}
#lot .price span {
  display: block;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 3em;
}
#lot .price button {
  margin-left: 45%;
}
#AjaxLoad {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1040;
  overflow: auto;
  background-color: #777;
  opacity: 0.5;
}
#AjaxLoad img {
  margin-left: 50%;
  margin-top: 20%;
}
.pang {
  text-align: center;
  margin-bottom: 20px;
}
.pagination a {
  color: #428bca;
}
.pagination li > span {
  color: #99d4ff;
}
.pagination li > span :hover {
  background-color: #fff;
}
.lotList img {
  height: 100px;
  float: left;
}
.lotList li {
  margin-bottom: 10px;
}